@import "~variables";
// $landing_background: url('./assets/icons/Background.svg') no-repeat center center fixed;
.containerFluid {
  height: 100%;
  //   background-image: url("../../../../assets/icons/Background.svg") no-repeat
  // center center fixed;
  background-size: cover;
}

.bgContainer {
  position: relative;

  .bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1000;
  }
}
